<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MeasurementOverlay.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <MeasurementOverlay.Properties.Settings>
      <setting name="AddGuidelinesHotkey" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="AddGridHotkey" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="ToggleCrosshairHotkey" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="ToggleHideAllHotkey" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="ClearAllHotkey" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </MeasurementOverlay.Properties.Settings>
  </userSettings>
</configuration>